* {
  text-align: center;
  padding:  0;
}

body {
  background-image: url("background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Roboto", sans-serif;

  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  background-color: #8d8d8d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover{
    background-color: #585858; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#catBlock{
  display: flex;
  justify-content: center;
   
}

img {
    
    border-radius: 14px;
    padding: 5px;
    width: 25vw;
    
  
  }